@font-face {
	font-family: "Montserrat";
	src: font-url("../fonts/Montserrat-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: bold;
}
@font-face {
	font-family: "Montserrat";
	src: font-url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Montserrat";
	src: font-url("../fonts/Montserrat-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Lemonada";
	src: font-url("../../fonts/Lemonada-SemiBold.ttf") format("truetype");
	font-weight: 700;
	font-style: bold;
}
@font-face {
	font-family: "Lemonada";
	src: font-url("../../fonts/Lemonada-Medium.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Lemonada";
	src: font-url("../../fonts/Lemonada-Regular.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

aside,
nav,
footer,
header,
section {
	display: block;
}

html,
body {
	height: 100%;
	min-width: 320px;
}

body {
	line-height: 1;
	font-family: "Montserrat", sans-serif;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: "Montserrat", sans-serif;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

body {
	color: #F8F8F8;
	background: black;
	font-size: 14px;
	font-family: "Montserrat", sans-serif;
}
body.lock {
	overflow: hidden;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}
.container {
	max-width: 1500px;
	margin: 0 auto;
	width: 100%;
}
@media (max-width: 1512px) {
	.container {
		max-width: 970px;
	}
}
@media (max-width: 991.98px) {
	.container {
		max-width: 750px;
	}
}
@media (max-width: 767.98px) {
	.container {
		max-width: none;
		padding: 0 10px;
	}
}

.icon-menu {
	display: block;
	position: absolute;
	top: 18px;
	right: 10px;
	width: 30px;
	height: 18px;
	cursor: pointer;
	z-index: 5;
}
.icon-menu span {
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	top: 8px;
	left: 0px;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #000;
}
.icon-menu span:first-child {
	top: 0px;
}
.icon-menu span:last-child {
	top: auto;
	bottom: 0px;
}
.icon-menu.active span {
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
}
.icon-menu.active span:first-child {
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 8px;
}
.icon-menu.active span:last-child {
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	bottom: 8px;
}

.headerblock {
	font-family: "Montserrat", sans-serif;
	width: 100%;
	padding: 20px 80px 20px 80px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: fixed;
	/* Make it stick/fixed */
	top: 0;
	/* Stay on top */
	-webkit-transition: top 0.3s;
	-o-transition: top 0.3s;
	transition: top 0.3s;
	/* Transition effect when sliding down (and up) */
	background: #000;
}
@media (max-width: 479.98px) {
	.headerblock {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		padding: 30px 20px 40px 30px;
		position: static;
	}
}
@media (max-width: 991.98px) {
	.headerblock {
		padding: 10px 40px 20px 30px;
	}
}
.headerblock__logo {
	width: 150px;
	height: 47px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
@media (max-width: 479.98px) {
	.headerblock__logo {
		width: 100%;
		height: 100%;
		-webkit-box-flex: 1;
		    -ms-flex: 1 0 auto;
		        flex: 1 0 auto;
	}
	.headerblock__logo img {
		width: 100%;
	}
}
.headerblock__title {
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
}
@media (max-width: 479.98px) {
	.headerblock__title {
		display: none;
	}
}
.headerblock .contact {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
@media (max-width: 479.98px) {
	.headerblock .contact {
		display: none;
	}
}
.headerblock .contact__text {
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
}
.headerblock .contact__icon {
	margin-left: 40px;
}
@media (max-width: 767.98px) {
	.headerblock .contact__icon {
		display: none;
	}
}

.footerblock {
	background: #000;
	width: 100%;
	padding: 40px 80px 60px 80px;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 2%;
	font-weight: 600;
	font-family: "Montserrat", sans-serif;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
@media (max-width: 767.98px) {
	.footerblock {
		padding: 10px 40px 40px 40px;
	}
}
@media (max-width: 479.98px) {
	.footerblock {
		padding: 10px 20px 20px 20px;
	}
}
.footerblock__contact {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 20px;
}
@media (max-width: 479.98px) {
	.footerblock__contact {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: column-reverse;
		        flex-direction: column-reverse;
	}
}
.footerblock__email {
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 2%;
	font-weight: 600;
	color: #F8F8F8;
}
.footerblock__links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-decoration: none;
}
@media (max-width: 479.98px) {
	.footerblock__links {
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-flex: 1;
		    -ms-flex: 1 0 auto;
		        flex: 1 0 auto;
		width: 100%;
		margin-bottom: 10px;
	}
}
.footerblock__linkItem {
	margin-left: 20px;
}
@media (max-width: 479.98px) {
	.footerblock__linkItem {
		margin-left: 0;
	}
}
.footerblock__linkItem a {
	color: #F8F8F8;
}
.footerblock__subtitle {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
@media (max-width: 479.98px) {
	.footerblock__subtitle {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
}
.footerblock__company {
	color: #848484;
	font-weight: 500;
}
@media (max-width: 479.98px) {
	.footerblock__company {
		text-align: left;
		width: 100%;
		margin-bottom: 10px;
	}
}
.footerblock__policy {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.footerblock__policyItem {
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0.02em;
	color: #848484;
}
@media (max-width: 479.98px) {
	.footerblock__policyItem {
		text-align: right;
		width: 100%;
	}
}

.footerblock-active {
	position: fixed;
	bottom: 0;
}

.maintitle {
	text-align: center;
	font-weight: 700;
	font-size: 60px;
	letter-spacing: 5%;
	padding: 48px;
	margin-top: 35px;
}
@media (max-width: 479.98px) {
	.maintitle {
		display: none;
	}
}
@media (max-width: 767.98px) {
	.maintitle {
		padding: 10px 10px 30px 10px;
		margin-top: 87px;
	}
}
.maintitle__text {
	text-transform: uppercase;
}

.photo__item {
	margin-bottom: 80px;
}
@media (max-width: 767.98px) {
	.photo__item {
		margin-bottom: 10px;
	}
}
@media (max-width: 991.98px) {
	.photo__item {
		margin-bottom: 40px;
	}
}
@media (max-width: 479.98px) {
	.photo__item {
		margin-bottom: 20px;
	}
}
.photo__item img {
	width: 100%;
}