@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

aside,
nav,
footer,
header,
section {
	display: block;
}

html,
body {
	height: 100%;
	min-width: 320px;
}

body {
	line-height: 1;
	font-family: "Montserrat", sans-serif;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: "Montserrat", sans-serif;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

body {
	color: #F8F8F8;
	background: #0f0f0f;
	font-size: 14px;
	font-family: "Montserrat", sans-serif;
}
body.lock {
	overflow: hidden;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.container {
	max-width: 1500px;
	margin: 0 auto;
	width: 100%;
}
@media (max-width: 1512px) {
	.container {
		max-width: 970px;
	}
}
@media (max-width: 991.98px) {
	.container {
		max-width: 750px;
	}
}
@media (max-width: 767.98px) {
	.container {
		max-width: none;
		padding: 0 10px;
	}
}

.headerblock {
	font-family: "Montserrat", sans-serif;
	width: 100%;
	padding: 28px 60px 35px 35px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: left;
	    -ms-flex-pack: left;
	        justify-content: left;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-transition: top 0.3s;
	-o-transition: top 0.3s;
	transition: top 0.3s;
	background: #0f0f0f;
}
@media (max-width: 767.98px) {
	.headerblock {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		padding: 50px 0 44px 0;
		position: static;
		width: 320px;
	}
}
.headerblock__logo {
	width: 166px;
	height: 52px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
@media (max-width: 767.98px) {
	.headerblock__logo {
		width: 100%;
		height: 100%;
		-webkit-box-flex: 1;
		    -ms-flex: 1 0 auto;
		        flex: 1 0 auto;
	}
	.headerblock__logo img {
		width: 100%;
	}
}

.pseudoheader {
	padding: 28px 60px 35px 60px;
	position: fixed;
	top: -110px;
}
@media (max-width: 767.98px) {
	.pseudoheader {
		display: none;
	}
}

.footerblock {
	background: #0f0f0f;
	margin-top: 130px;
	width: 100%;
	padding: 0 60px 36px 60px;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 2%;
	font-weight: 600;
	font-family: "Montserrat", sans-serif;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
@media (max-width: 479.98px) {
	.footerblock {
		width: 320px;
		padding: 61px 4px 31px 4px;
		margin: 0;
	}
}
.footerblock__contact {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 20px;
}
@media (max-width: 479.98px) {
	.footerblock__contact {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: column-reverse;
		        flex-direction: column-reverse;
		font-size: 18px;
	}
}
.footerblock__email {
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 2%;
	font-weight: 600;
	color: #F8F8F8;
}
@media (max-width: 479.98px) {
	.footerblock__email {
		font-size: 18px;
		text-align: left;
		width: 100%;
	}
}
.footerblock__links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-decoration: none;
}
@media (max-width: 479.98px) {
	.footerblock__links {
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-flex: 1;
		    -ms-flex: 1 0 auto;
		        flex: 1 0 auto;
		width: 100%;
		margin-bottom: 36px;
	}
}
.footerblock__linkItem {
	margin-left: 20px;
	min-width: 72.02px;
}
@media (max-width: 479.98px) {
	.footerblock__linkItem {
		margin-left: 0;
	}
}
.footerblock__linkItem a {
	color: #F8F8F8;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.footerblock__linkItem a:active {
	color: silver;
	font-size: 15px;
}
.footerblock__subtitle {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
@media (max-width: 479.98px) {
	.footerblock__subtitle {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		margin-top: 98px;
	}
}
.footerblock__company {
	color: #848484;
	font-weight: 500;
	letter-spacing: 0.02em;
	font-size: 16px;
}
@media (max-width: 479.98px) {
	.footerblock__company {
		text-align: left;
		width: 100%;
		margin-bottom: 12px;
	}
}
.footerblock__policy {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	letter-spacing: 0.02em;
	font-size: 16px;
}
.footerblock__policyItem {
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0.02em;
	color: #848484;
}
@media (max-width: 479.98px) {
	.footerblock__policyItem {
		text-align: right;
		width: 100%;
	}
}

.footerblock-active {
	position: fixed;
	bottom: 0;
}

.content {
	max-width: 1500px;
	padding: 0 157px;
}
@media (max-width: 767.98px) {
	.content {
		padding: 0 80px 0 80px;
	}
}
@media (max-width: 479.98px) {
	.content {
		width: 320px;
		padding: 0;
	}
}

.maintitle {
	text-align: center;
	font-weight: 700;
	font-size: 59px;
	letter-spacing: 0.05em;
	line-height: 73px;
	margin-bottom: 64px;
	z-index: 50;
}
@media (max-width: 767.98px) {
	.maintitle {
		display: none;
	}
}
.maintitle__text {
	color: #F8F8F8;
	font-family: "Montserrat", sans-serif;
	z-index: 50;
}

.photo__item {
	margin-bottom: 80px;
}
@media (max-width: 767.98px) {
	.photo__item {
		margin-bottom: 10px;
	}
}
@media (max-width: 991.98px) {
	.photo__item {
		margin-bottom: 40px;
	}
}
@media (max-width: 479.98px) {
	.photo__item {
		margin-bottom: 24px;
	}
}
.photo__item img {
	width: 100%;
}
.photo :last-child {
	margin-bottom: 0;
}